# node_modules（依存パッケージ）はGit管理外
node_modules/

# 環境ごとに異なる設定ファイル
.env

# Viteキャッシュ
.vite

# Macの不要ファイル
.DS_Store

# npm/yarn/pnpmのログ
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VSCode設定
.vscode/
